body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.container{
    height: 8vh;
    background-color: #30559a;
    display: flex;
    justify-content: space-around;
    font-family:'Courier New', Courier, monospace;
    text-transform:lowercase;
    padding-right: 50px;
}
.logo{
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 4px;
    margin: auto;
    margin-left: 150px;
    align-items: center;

}
a{  font-size: 20px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    align-items: center;
}
a:hover {
    opacity: 0.5;
}
.container-list{
    letter-spacing: 3px;
    margin-left: 32px;
}